/* the body tag contains everything on the page (Good to start with body first)*/
body {
  font-family: 'Asap', sans-serif;
  font-size: 19px;
  background-color: #d3d3d3;
  color: #ffffff;
}

a {
  color: #ffffff;
  text-decoration: none;
}

section {
  height: 100vh;
  background-image: url(photo_2020-05-13_17-15-51.jpg);
  ;
  background-size: cover;
  background-attachment: fixed;
}

header {
  position: fixed;
  top: 20px;
  left: 20px;
}
footer {
  position: fixed;
  bottom: 30px;
  left: 20px;
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 8px;
}

footer a {
  display: inline-block;
  position: relative;
  margin-right: 10px;
}

a:after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 0.1em;
  background-color: #ffffff;
  width: 0;
  transition: width 0.4s, left 0.4s;
  left: 50%;
}

a:hover:after {
  width: 100%;
  left: 0;
}

.image_2{
  background-image: url(photo_2020-05-13_17-15-52.jpg);
}

.image_3{
  background-image: url(photo_2020-05-13_17-15-48.jpg);
}

.image_4{
  background-image: url(sally_4.jpg);
}


